h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    background: rgb(99, 108, 187);
    margin: 0 auto;
}
header {
    text-align: center;
    margin: 0;
    text-transform: unset;
}
a {
    color: black;
    font-size: 20px;
}
nav {
    text-align: center;
    padding-top: 20px;
}
h1 {
    padding-top: 30px;
    color: bisque;
}
h2 {
    text-align: center;
    padding-top: 30px;
    color: bisque;
}
div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
